################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pong new repos/v17
/Pong3/.vs/Pong/FileContentIndex
/Pong3/.vs/Pong/CopilotIndices/17.14.1091.29919
